# Hypothyroid dataset

In [2]:
#Import the labraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

# Loading the dataset

In [3]:
df=pd.read_csv('hypothyroid.data.csv')  
df

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,hypothyroid,72,M,f,f,f,f,f,f,f,...,y,0.60,y,15,y,1.48,y,10,n,?
1,hypothyroid,15,F,t,f,f,f,f,f,f,...,y,1.70,y,19,y,1.13,y,17,n,?
2,hypothyroid,24,M,f,f,f,f,f,f,f,...,y,0.20,y,4,y,1,y,0,n,?
3,hypothyroid,24,F,f,f,f,f,f,f,f,...,y,0.40,y,6,y,1.04,y,6,n,?
4,hypothyroid,77,M,f,f,f,f,f,f,f,...,y,1.20,y,57,y,1.28,y,44,n,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3158,negative,58,F,f,f,f,f,f,f,f,...,y,1.70,y,86,y,0.91,y,95,n,?
3159,negative,29,F,f,f,f,f,f,f,f,...,y,1.80,y,99,y,1.01,y,98,n,?
3160,negative,77,M,f,f,f,f,f,f,f,...,y,0.60,y,71,y,0.68,y,104,n,?
3161,negative,74,F,f,f,f,f,f,f,f,...,y,0.10,y,65,y,0.48,y,137,n,?
3162,negative,56,F,t,f,f,f,f,f,f,...,y,1.80,y,139,y,0.97,y,143,n,?

In [4]:
df.head() # gives the first fives lines

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,hypothyroid,72,M,f,f,f,f,f,f,f,...,y,0.60,y,15,y,1.48,y,10,n,?
1,hypothyroid,15,F,t,f,f,f,f,f,f,...,y,1.70,y,19,y,1.13,y,17,n,?
2,hypothyroid,24,M,f,f,f,f,f,f,f,...,y,0.20,y,4,y,1,y,0,n,?
3,hypothyroid,24,F,f,f,f,f,f,f,f,...,y,0.40,y,6,y,1.04,y,6,n,?
4,hypothyroid,77,M,f,f,f,f,f,f,f,...,y,1.20,y,57,y,1.28,y,44,n,?

In [5]:
df.columns = ['response','age','sex','on_thyroxine','query_on_thyroxine','antithyroid_medication','thyroid_surgery','query_hypothyroid','query_hyperthyroid','pregnant','tumer','goiter','hypopituitary','hypothyroid','I131_treatment','T3_measured','T3','TT4','TT4_measured','T4U','T4U_measured','FTI','FTI_measured','TBG_measured','TBG','sick_query']
df.head(10)   # gives the columns names

,response,age,sex,on_thyroxine,query_on_thyroxine,antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3,TT4,TT4_measured,T4U,T4U_measured,FTI,FTI_measured,TBG_measured,TBG,sick_query
0,hypothyroid,72,M,f,f,f,f,f,f,f,...,y,0.60,y,15,y,1.48,y,10,n,?
1,hypothyroid,15,F,t,f,f,f,f,f,f,...,y,1.70,y,19,y,1.13,y,17,n,?
2,hypothyroid,24,M,f,f,f,f,f,f,f,...,y,0.20,y,4,y,1,y,0,n,?
3,hypothyroid,24,F,f,f,f,f,f,f,f,...,y,0.40,y,6,y,1.04,y,6,n,?
4,hypothyroid,77,M,f,f,f,f,f,f,f,...,y,1.20,y,57,y,1.28,y,44,n,?
5,hypothyroid,85,F,f,f,f,f,t,f,f,...,y,1.10,y,27,y,1.19,y,23,n,?
6,hypothyroid,64,F,f,f,f,t,f,f,f,...,y,1.30,y,54,y,0.86,y,63,n,?
7,hypothyroid,72,F,f,f,f,f,f,f,f,...,y,1.90,y,34,y,1.05,y,32,n,?
8,hypothyroid,20,F,f,f,f,f,t,f,f,...,n,?,y,39,y,1.21,y,32,n,?
9,hypothyroid,42,F,f,f,f,f,f,f,f,...,n,?,y,7.60,y,1.02,y,7.50,n,?

In [6]:
df.shape

(3163, 26)

# Checks the uniques values

In [7]:
for col in df.columns:
    print(f"Unique values in {col}: {df[col].unique()}")  #check the unique values

Unique values in response: ['hypothyroid' 'negative']
Unique values in age: ['72' '15' '24' '77' '85' '64' '20' '42' '69' '75' '53' '59' '68' '50'
 '78' '65' '28' '43' '40' '84' '?' '83' '63' '73' '36' '27' '48' '71' '60'
 '34' '79' '62' '74' '32' '41' '70' '29' '5' '58' '35' '51' '22' '16' '44'
 '39' '47' '18' '17' '88' '56' '30' '45' '66' '52' '54' '80' '33' '38'
 '92' '67' '46' '13' '89' '61' '49' '26' '57' '31' '90' '81' '25' '37'
 '76' '87' '23' '55' '86' '98' '21' '97' '1' '6' '14' '82' '11' '19' '9'
 '12' '10' '8' '7' '4' '93']
Unique values in sex: ['M' 'F' '?']
Unique values in on_thyroxine: ['f' 't']
Unique values in query_on_thyroxine: ['f' 't']
Unique values in antithyroid_medication: ['f' 't']
Unique values in thyroid_surgery: ['f' 't']
Unique values in query_hypothyroid: ['f' 't']
Unique values in query_hyperthyroid: ['f' 't']
Unique values in pregnant: ['f' 't']
Unique values in tumer: ['f' 't']
Unique values in goiter: ['f' 't']
Unique values in hypopituitary: ['f' 't']
Unique values in hypothyroid: ['f' 't']
Unique values in I131_treatment: ['y' 'n']
Unique values in T3_measured: ['30' '145' '0' '430' '7.30' '138' '7.70' '21' '92' '48' '36' '15' '15.30'
 '25' '61' '28' '170' '54' '216' '56' '71' '46' '70' '34' '53' '9.40'
 '126' '10' '530' '35' '65' '57' '125' '23' '80' '117' '49' '66' '8.20'
 '150' '?' '18' '165' '164' '24' '90' '77' '19' '58' '100' '213' '17'
 '235' '153' '13' '31' '109' '260' '43' '12' '11' '55' '6.50' '20' '7.50'
 '14' '60' '140' '33' '8.70' '0.25' '10.70' '82' '45' '42' '41' '160' '16'
 '89' '44' '176' '6.40' '183' '29' '37' '39' '7.90' '59' '68' '38' '47'
 '143' '6.60' '288' '96' '0.50' '1.20' '1.90' '0.09' '3.10' '0.40' '0.85'
 '0.30' '0.90' '1.50' '4.60' '0.20' '5.80' '4' '1.40' '2' '2.60' '2.90'
 '0.80' '4.90' '10.30' '2.30' '0.70' '0.60' '1.30' '2.50' '5.10' '1.70'
 '2.70' '22' '8.10' '3.30' '5' '3.20' '1.80' '1.10' '0.46' '1' '5.60'
 '4.40' '16.50' '2.10' '6.30' '5.50' '7.40' '5.90' '0.15' '14.90' '2.20'
 '9.70' '9.60' '1.60' '3.70' '3' '2.80' '0.10' '4.20' '27' '3.50' '0.05'
 '19.20' '8' '9.10' '3.60' '7.80' '3.80' '8.50' '9.20' '52' '2.40' '3.90'
 '0.03' '0.04' '26' '6.10' '0.65' '0.92' '7.60' '8.40' '14.40' '1.05'
 '0.37' '178' '6.90' '4.50' '4.70' '40' '6' '4.10' '14.30' '5.40' '8.30'
 '0.06' '8.80' '8.90' '7.10' '4.80' '0.43' '6.70' '200' '8.60' '86' '0.21'
 '9' '0.26' '3.40' '6.20' '17.40' '85' '1.83' '63' '13.30' '0.02' '0.42'
 '9.50' '0.84' '0.88' '4.30' '0.67' '0.81' '5.20' '9.80' '76' '0.62'
 '0.01' '11.40' '88' '0.68' '0.07' '0.69' '0.77' '9.90' '0.64' '13.20'
 '6.80' '0.28' '11.60' '0.91' '1.01' '0.23' '0.35' '50' '32' '0.83' '0.08']
Unique values in T3: ['y' 'n']
Unique values in TT4: ['0.60' '1.70' '0.20' '0.40' '1.20' '1.10' '1.30' '1.90' '?' '0.80' '2.20'
 '1.50' '2.70' '2' '0.30' '2.10' '0.50' '0.70' '1' '1.40' '2.30' '2.40'
 '0.90' '1.80' '0' '2.80' '1.60' '6.70' '3.30' '3' '2.50' '2.60' '4'
 '9.80' '3.90' '3.40' '3.80' '4.50' '3.20' '3.70' '4.30' '2.90' '3.10'
 '3.50' '3.60' '6.60' '4.90' '8.90' '4.10' '5' '5.30' '7.60' '7.30' '4.20'
 '4.40' '5.10' '7' '0.10' '0.05' '4.70' '6.20' '5.50' '4.60' '6.10' '8.10'
 '5.20' '5.60' '4.80' '10.20' '8.60']
Unique values in TT4_measured: ['y' 'n']
Unique values in T4U: ['15' '19' '4' '6' '57' '27' '54' '34' '39' '7.60' '53' '38' '98' '44'
 '37' '81' '13' '17' '12' '50' '23' '14' '3.90' '52' '32' '30' '84' '10'
 '55' '24' '28' '11' '6.60' '31' '33' '41' '9' '78' '42' '8.10' '65' '16'
 '9.70' '46' '22' '61' '2.30' '21' '7.50' '18' '66' '25' '43' '2' '3' '58'
 '59' '71' '74' '56' '40' '20' '48' '230' '70' '4.10' '63' '5.30' '2.90'
 '62' '75' '68' '45' '47' '36' '80' '109' '8.60' '83' '82' '101' '76'
 '103' '112' '206' '110' '93' '79' '121' '?' '107' '88' '187' '254' '115'
 '113' '260' '117' '164' '97' '64' '129' '111' '106' '95' '87' '105' '90'
 '67' '134' '35' '193' '143' '130' '108' '86' '96' '92' '99' '216' '152'
 '125' '138' '194' '91' '120' '102' '170' '126' '116' '140' '94' '159'
 '85' '210' '89' '151' '247' '139' '153' '178' '123' '137' '161' '7.30'
 '72' '202' '122' '124' '157' '118' '104' '135' '186' '241' '131' '119'
 '100' '220' '176' '136' '183' '155' '208' '199' '154' '169' '128' '235'
 '195' '267' '232' '197' '212' '149' '127' '245' '132' '162' '77' '142'
 '69' '173' '141' '156' '181' '189' '60' '114' '198' '147' '191' '177'
 '174' '207' '168' '73' '160' '145' '200' '182' '158' '203' '209' '217'
 '430' '213' '218' '163' '296' '167' '148' '166' '185' '248' '172' '144'
 '150' '165' '196' '308' '146' '426' '224' '29' '204' '201' '133' '180'
 '184' '450' '244' '301' '255' '252' '396' '223' '261' '250' '179' '219'
 '190' '51' '221' '171' '242' '275' '211' '49' '239' '205' '222' '256'
 '214' '282' '287' '253' '269' '175' '228' '333' '258' '236' '225' '263'
 '283' '359' '188' '240']
Unique values in T4U_measured: ['y' 'n']
Unique values in FTI: ['1.48' '1.13' '1' '1.04' '1.28' '1.19' '0.86' '1.05' '1.21' '1.02' '0.92'
 '1.29' '0.98' '1.08' '1.01' '1.18' '1.10' '1.27' '0.83' '1.11' '0.78'
 '1.39' '1.12' '0.93' '0.99' '0.90' '1.06' '0.68' '0.67' '1.14' '0.80'
 '0.96' '0.95' '1.46' '1.03' '0.97' '0.94' '1.09' '1.24' '1.23' '1.53'
 '1.26' '1.40' '1.17' '0.87' '0.61' '0.70' '1.07' '1.73' '1.45' '1.20'
 '0.89' '0.84' '0.91' '0.85' '1.35' '0.82' '1.50' '0.74' '1.71' '1.79'
 '0.73' '0.77' '1.25' '?' '0.88' '0.72' '0.31' '0' '0.79' '0.81' '0.71'
 '1.93' '1.32' '0.66' '1.68' '1.42' '1.70' '1.83' '1.41' '1.34' '1.65'
 '1.22' '0.75' '1.74' '0.69' '1.51' '0.76' '1.16' '0.35' '0.62' '0.54'
 '1.36' '1.33' '1.30' '0.48' '1.59' '1.75' '1.86' '1.38' '1.43' '1.62'
 '2.01' '0.30' '1.31' '1.15' '1.57' '0.55' '1.66' '0.52' '1.97' '1.47'
 '0.36' '1.88' '1.55' '0.34' '1.67' '0.58' '0.60' '0.59' '1.37' '1.76'
 '0.64' '1.80' '0.41' '0.20' '1.77' '0.33' '1.54' '0.46' '0.32' '1.44'
 '1.56' '0.56' '1.52' '2.03' '0.65' '0.63' '1.96' '0.53' '0.47' '0.29'
 '2.21' '1.69' '1.64' '1.49' '1.72' '1.58' '0.57' '1.61' '0.28' '2' '1.63'
 '0.27' '1.94' '0.50' '0.49' '0.40' '0.38']
Unique values in FTI_measured: ['y' 'n']
Unique values in TBG_measured: ['10' '17' '0' '6' '44' '23' '63' '32' '7.50' '61' '41' '76' '45' '34'
 '81' '11' '16' '46' '22' '12' '5' '47' '29' '37' '60' '8.40' '8.50' '24'
 '28' '7' '49' '36' '15' '9' '80' '53' '7.20' '68' '6.60' '48' '21' '14'
 '2' '20' '1.40' '56' '3' '51' '13' '43' '78' '52' '64' '26' '35' '31'
 '133' '3.40' '54' '8.90' '57' '5.50' '58' '55' '2.80' '66' '4' '40' '50'
 '8.70' '87' '89' '112' '123' '99' '92' '104' '69' '196' '107' '106' '74'
 '97' '?' '122' '84' '114' '124' '241' '119' '120' '136' '85' '127' '839'
 '137' '197' '96' '77' '108' '82' '72' '94' '91' '240' '121' '109' '79'
 '100' '98' '73' '117' '165' '103' '88' '101' '126' '132' '128' '143'
 '152' '141' '186' '113' '102' '125' '93' '105' '159' '188' '71' '149'
 '116' '83' '176' '161' '86' '140' '111' '158' '115' '171' '90' '95' '70'
 '135' '134' '178' '110' '170' '205' '695' '155' '118' '741' '131' '129'
 '142' '153' '75' '254' '246' '139' '185' '157' '147' '164' '130' '222'
 '650' '174' '182' '144' '169' '257' '145' '345' '180' '167' '151' '154'
 '150' '219' '228' '65' '187' '166' '195' '208' '138' '33' '173' '146'
 '211' '181' '190' '247' '221' '395' '216' '212' '148' '162' '220' '370'
 '450' '160' '59' '189' '203' '168' '179' '264' '470' '184' '163' '67'
 '213' '354' '292' '359' '172' '156' '334' '177' '214' '194' '192' '215'
 '217' '271' '250' '244' '308' '881' '258' '316' '200' '711' '256' '232'
 '202' '39' '248' '237' '259' '445' '19' '852' '42' '235' '634' '283'
 '305' '204' '229' '332' '550' '249' '263' '615' '266' '198' '175' '209'
 '299' '193' '227' '223' '337' '210' '272' '702' '218' '239' '355' '482'
 '347' '485' '612' '428']
Unique values in TBG: ['n' 'y']
Unique values in sick_query: ['?' '28' '34' '0' '19' '30' '25' '48' '39' '31' '16' '21' '37' '40' '27'
 '3.10' '38' '108' '20' '36' '17' '23' '35' '32' '63' '9.30' '15' '26'
 '33' '41' '110' '22' '43' '53' '80' '47' '29' '13' '24' '18' '45' '86'
 '50' '8.40' '52' '11' '12' '14' '65' '7.30' '8.50' '69' '122']

In [8]:
df = df.replace("?", np.nan)  # Convert "?" to NaN in the entire DataFrame
df = df.apply(pd.to_numeric, errors='ignore')  # Convert only numeric columns

C:\Users\PMLS\AppData\Local\Temp\ipykernel_14116\1164021300.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(pd.to_numeric, errors='ignore')  # Convert only numeric columns

In [9]:
df['on_thyroxine'] = df['on_thyroxine'].map({'f': 0, 't': 1}).astype(int) # using map function to convert the catagorical into numerical
df.head()

,response,age,sex,on_thyroxine,query_on_thyroxine,antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3,TT4,TT4_measured,T4U,T4U_measured,FTI,FTI_measured,TBG_measured,TBG,sick_query
0,hypothyroid,72.0,M,0,f,f,f,f,f,f,...,y,0.6,y,15.0,y,1.48,y,10.0,n,NaN
1,hypothyroid,15.0,F,1,f,f,f,f,f,f,...,y,1.7,y,19.0,y,1.13,y,17.0,n,NaN
2,hypothyroid,24.0,M,0,f,f,f,f,f,f,...,y,0.2,y,4.0,y,1.00,y,0.0,n,NaN
3,hypothyroid,24.0,F,0,f,f,f,f,f,f,...,y,0.4,y,6.0,y,1.04,y,6.0,n,NaN
4,hypothyroid,77.0,M,0,f,f,f,f,f,f,...,y,1.2,y,57.0,y,1.28,y,44.0,n,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3163 entries, 0 to 3162
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   response                3163 non-null   object
 1   age                     2717 non-null   float64
 2   sex                     3090 non-null   object
 3   on_thyroxine            3163 non-null   int32
 4   query_on_thyroxine      3163 non-null   object
 5   antithyroid_medication  3163 non-null   object
 6   thyroid_surgery         3163 non-null   object
 7   query_hypothyroid       3163 non-null   object
 8   query_hyperthyroid      3163 non-null   object
 9   pregnant                3163 non-null   object
 10  tumer                   3163 non-null   object
 11  goiter                  3163 non-null   object
 12  hypopituitary           3163 non-null   object
 13  hypothyroid             3163 non-null   object
 14  I131_treatment          3163 non-null   object
 15  T3_measured             2695 non-null   float64
 16  T3                      3163 non-null   object
 17  TT4                     2468 non-null   float64
 18  TT4_measured            3163 non-null   object
 19  T4U                     2914 non-null   float64
 20  T4U_measured            3163 non-null   object
 21  FTI                     2915 non-null   float64
 22  FTI_measured            3163 non-null   object
 23  TBG_measured            2916 non-null   float64
 24  TBG                     3163 non-null   object
 25  sick_query              260 non-null    float64
dtypes: float64(7), int32(1), object(18)
memory usage: 630.3+ KB

In [11]:
# Identify columns with 'f' and 't' values
bool_cols = ['on_thyroxine', 'query_on_thyroxine', 'antithyroid_medication', 
             'thyroid_surgery', 'query_hypothyroid', 'query_hyperthyroid', 
             'pregnant', 'tumer', 'goiter', 'hypopituitary','hypothyroid']

# Apply mapping to all selected columns
df[bool_cols] = df[bool_cols].replace({'f': 0, 't': 1}).astype(int)

C:\Users\PMLS\AppData\Local\Temp\ipykernel_14116\909242851.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[bool_cols] = df[bool_cols].replace({'f': 0, 't': 1}).astype(int)

In [12]:
df.head()

,response,age,sex,on_thyroxine,query_on_thyroxine,antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3,TT4,TT4_measured,T4U,T4U_measured,FTI,FTI_measured,TBG_measured,TBG,sick_query
0,hypothyroid,72.0,M,0,0,0,0,0,0,0,...,y,0.6,y,15.0,y,1.48,y,10.0,n,NaN
1,hypothyroid,15.0,F,1,0,0,0,0,0,0,...,y,1.7,y,19.0,y,1.13,y,17.0,n,NaN
2,hypothyroid,24.0,M,0,0,0,0,0,0,0,...,y,0.2,y,4.0,y,1.00,y,0.0,n,NaN
3,hypothyroid,24.0,F,0,0,0,0,0,0,0,...,y,0.4,y,6.0,y,1.04,y,6.0,n,NaN
4,hypothyroid,77.0,M,0,0,0,0,0,0,0,...,y,1.2,y,57.0,y,1.28,y,44.0,n,NaN

In [13]:
# Identify columns with 'f' and 't' values
bool_cols1 = ['TBG','FTI_measured','T4U_measured','TT4_measured','T3','I131_treatment']

# Apply mapping to all selected columns
df[bool_cols1] = df[bool_cols1].replace({'y': 0, 'n': 1}).astype(int)

C:\Users\PMLS\AppData\Local\Temp\ipykernel_14116\1305820631.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[bool_cols1] = df[bool_cols1].replace({'y': 0, 'n': 1}).astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3163 entries, 0 to 3162
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   response                3163 non-null   object
 1   age                     2717 non-null   float64
 2   sex                     3090 non-null   object
 3   on_thyroxine            3163 non-null   int32
 4   query_on_thyroxine      3163 non-null   int32
 5   antithyroid_medication  3163 non-null   int32
 6   thyroid_surgery         3163 non-null   int32
 7   query_hypothyroid       3163 non-null   int32
 8   query_hyperthyroid      3163 non-null   int32
 9   pregnant                3163 non-null   int32
 10  tumer                   3163 non-null   int32
 11  goiter                  3163 non-null   int32
 12  hypopituitary           3163 non-null   int32
 13  hypothyroid             3163 non-null   int32
 14  I131_treatment          3163 non-null   int32
 15  T3_measured             2695 non-null   float64
 16  T3                      3163 non-null   int32
 17  TT4                     2468 non-null   float64
 18  TT4_measured            3163 non-null   int32
 19  T4U                     2914 non-null   float64
 20  T4U_measured            3163 non-null   int32
 21  FTI                     2915 non-null   float64
 22  FTI_measured            3163 non-null   int32
 23  TBG_measured            2916 non-null   float64
 24  TBG                     3163 non-null   int32
 25  sick_query              260 non-null    float64
dtypes: float64(7), int32(17), object(2)
memory usage: 432.6+ KB

In [15]:
# Convert 'M' -> 1, 'F' -> 0 and drop NaN values
df = df.dropna(subset=['sex'])  # Remove rows where 'sex' is NaN
df['sex'] = df['sex'].map({'M': 1, 'F': 0}).astype(int)  # Convert to integer

In [16]:
for col in df.columns:
    print(f"Unique values in {col}: {df[col].unique()}")

Unique values in response: ['hypothyroid' 'negative']
Unique values in age: [72. 15. 24. 77. 85. 64. 20. 42. 69. 75. 53. 59. 68. 50. 78. 65. 28. 43.
 40. 84. nan 83. 63. 73. 36. 27. 48. 71. 60. 34. 79. 62. 74. 32. 41. 70.
 29.  5. 58. 35. 51. 22. 16. 44. 39. 47. 18. 17. 88. 56. 30. 45. 66. 52.
 54. 80. 33. 38. 92. 67. 46. 13. 89. 61. 49. 26. 57. 31. 90. 81. 25. 37.
 76. 87. 23. 55. 86. 98. 21. 97.  1.  6. 14. 82. 11. 19.  9. 12. 10.  8.
  7.  4. 93.]
Unique values in sex: [1 0]
Unique values in on_thyroxine: [0 1]
Unique values in query_on_thyroxine: [0 1]
Unique values in antithyroid_medication: [0 1]
Unique values in thyroid_surgery: [0 1]
Unique values in query_hypothyroid: [0 1]
Unique values in query_hyperthyroid: [0 1]
Unique values in pregnant: [0 1]
Unique values in tumer: [0 1]
Unique values in goiter: [0 1]
Unique values in hypopituitary: [0 1]
Unique values in hypothyroid: [0 1]
Unique values in I131_treatment: [0 1]
Unique values in T3_measured: [3.00e+01 1.45e+02 0.00e+00 4.30e+02 7.30e+00 1.38e+02 7.70e+00 2.10e+01
 9.20e+01 4.80e+01 3.60e+01 1.50e+01 1.53e+01 2.50e+01 6.10e+01 2.80e+01
 1.70e+02 5.40e+01 2.16e+02 5.60e+01 7.10e+01 4.60e+01 7.00e+01 3.40e+01
 5.30e+01 9.40e+00 1.26e+02 1.00e+01 5.30e+02 3.50e+01 6.50e+01 5.70e+01
 1.25e+02 2.30e+01 8.00e+01 1.17e+02 4.90e+01 6.60e+01 8.20e+00 1.50e+02
      nan 1.80e+01 1.65e+02 1.64e+02 9.00e+01 7.70e+01 1.90e+01 5.80e+01
 1.00e+02 2.13e+02 1.70e+01 2.35e+02 1.53e+02 1.30e+01 3.10e+01 1.09e+02
 2.60e+02 4.30e+01 1.20e+01 1.10e+01 5.50e+01 6.50e+00 2.00e+01 7.50e+00
 1.40e+01 6.00e+01 1.40e+02 3.30e+01 8.70e+00 2.50e-01 1.07e+01 8.20e+01
 4.50e+01 4.20e+01 4.10e+01 1.60e+02 1.60e+01 8.90e+01 4.40e+01 1.76e+02
 6.40e+00 1.83e+02 2.90e+01 3.70e+01 3.90e+01 7.90e+00 5.90e+01 6.80e+01
 3.80e+01 4.70e+01 1.43e+02 6.60e+00 2.88e+02 9.60e+01 5.00e-01 1.20e+00
 1.90e+00 9.00e-02 3.10e+00 4.00e-01 8.50e-01 3.00e-01 9.00e-01 4.60e+00
 2.00e-01 5.80e+00 4.00e+00 1.40e+00 1.50e+00 2.00e+00 2.60e+00 2.90e+00
 8.00e-01 4.90e+00 1.03e+01 2.30e+00 7.00e-01 6.00e-01 1.30e+00 2.50e+00
 5.10e+00 1.70e+00 2.70e+00 2.20e+01 8.10e+00 3.30e+00 5.00e+00 3.20e+00
 1.80e+00 1.10e+00 4.60e-01 1.00e+00 5.60e+00 4.40e+00 1.65e+01 2.10e+00
 6.30e+00 5.50e+00 7.40e+00 5.90e+00 1.50e-01 2.40e+01 2.20e+00 9.70e+00
 9.60e+00 1.60e+00 3.70e+00 3.00e+00 2.80e+00 1.00e-01 4.20e+00 2.70e+01
 5.00e-02 1.92e+01 8.00e+00 9.10e+00 3.60e+00 7.80e+00 3.80e+00 8.50e+00
 9.20e+00 5.20e+01 2.40e+00 3.90e+00 3.00e-02 4.00e-02 2.60e+01 6.10e+00
 6.50e-01 9.20e-01 7.60e+00 8.40e+00 1.05e+00 3.70e-01 1.78e+02 6.90e+00
 4.50e+00 4.70e+00 4.00e+01 6.00e+00 4.10e+00 5.40e+00 8.30e+00 6.00e-02
 8.80e+00 8.90e+00 7.10e+00 4.80e+00 4.30e-01 6.70e+00 2.00e+02 3.50e+00
 8.60e+00 8.60e+01 2.10e-01 9.00e+00 2.60e-01 3.40e+00 6.20e+00 1.74e+01
 8.50e+01 1.83e+00 6.30e+01 1.33e+01 2.00e-02 4.20e-01 9.50e+00 8.40e-01
 8.80e-01 4.30e+00 6.70e-01 8.10e-01 5.20e+00 9.80e+00 7.60e+01 6.20e-01
 1.00e-02 8.80e+01 6.80e-01 7.00e-02 6.90e-01 7.70e-01 9.90e+00 6.40e-01
 1.43e+01 1.32e+01 6.80e+00 2.80e-01 9.10e-01 1.01e+00 2.30e-01 5.00e+01
 3.20e+01 8.30e-01 8.00e-02]
Unique values in T3: [0 1]
Unique values in TT4: [ 0.6   1.7   0.2   0.4   1.2   1.1   1.3   1.9    nan  0.8   2.2   1.5
  2.7   2.    0.3   2.1   0.5   0.7   1.    1.4   2.3   2.4   0.9   1.8
  0.    2.8   1.6   6.7   3.3   3.    2.5   2.6   4.    9.8   3.9   3.4
  3.8   4.5   3.2   3.7   4.3   2.9   3.1   3.5   3.6   6.6   4.9   8.9
  4.1   5.    5.3   7.6   7.3   4.2   4.4   5.1   7.    0.1   0.05  6.2
  5.5   4.6   4.7   6.1   8.1   5.6   4.8  10.2   8.6 ]
Unique values in TT4_measured: [0 1]
Unique values in T4U: [ 15.   19.    4.    6.   57.   27.   54.   34.   39.    7.6  53.   38.
  98.   44.   37.   81.   13.   17.   12.   50.   23.   14.    3.9  52.
  32.   30.   84.   10.   55.   24.   28.   11.    6.6  31.   33.   41.
   9.   78.   42.    8.1  65.   16.    9.7  46.   22.   61.    2.3   7.5
  18.   66.   25.   43.    2.    3.   58.   59.   71.   74.   56.   40.
  20.   48.  230.   70.    4.1  63.    5.3   2.9  62.   75.   68.   45.
  47.   36.   80.  109.    8.6  83.   82.  101.   76.  103.  112.  206.
 110.   93.   79.  121.    nan 107.   88.  187.  254.  115.  113.  117.
 164.   97.   64.  129.  111.  106.   95.   87.  105.   90.   67.  134.
  35.  193.  143.  130.  108.   86.   96.   92.   99.  216.  152.  125.
 138.  194.   91.  120.  102.  170.  126.  116.  140.   94.  159.   85.
 210.   89.  151.  247.  139.  153.  123.  137.  161.    7.3  72.  202.
 122.  124.  178.  157.  118.  104.  135.  186.  131.  119.  100.  220.
 176.  136.  183.  155.  208.  199.  154.  241.  169.  128.  235.  195.
 267.  232.  197.  212.  149.  127.  245.  132.  162.   77.  142.   69.
 173.  141.  156.  181.  189.   60.  114.  198.  147.  191.  177.  174.
 207.  168.   73.  160.  145.  200.  182.  158.  209.  217.  430.  213.
 218.  163.  296.  167.  148.  166.  185.  248.  172.  144.  150.  165.
 196.  308.  146.  426.  224.   29.  204.  201.  133.  180.  184.  450.
 244.  301.  255.  396.  223.  261.  250.  179.  190.   51.  221.  171.
 242.  275.  211.   49.  205.  256.  214.  282.  287.  253.  269.  175.
 228.  333.  258.  236.  225.  263.  283.  359.  203.  188.  240. ]
Unique values in T4U_measured: [0 1]
Unique values in FTI: [1.48 1.13 1.   1.04 1.28 1.19 0.86 1.05 1.21 1.02 0.92 1.29 0.98 1.08
 1.01 1.18 1.1  1.27 0.83 1.11 0.78 1.39 1.12 0.93 0.99 0.9  1.06 0.68
 0.67 1.14 0.8  0.96 0.95 1.46 1.03 0.94 1.09 1.24 1.23 1.53 1.26 1.4
 0.97 1.17 0.87 0.61 0.7  1.07 1.73 1.45 1.2  0.89 0.84 0.91 0.85 1.35
 0.82 1.5  0.74 1.71 1.79 0.73 0.77 1.25  nan 0.88 0.72 0.   0.79 0.81
 0.71 1.93 1.32 0.66 1.68 1.42 1.7  1.83 1.41 1.34 1.65 1.22 0.75 1.74
 0.69 1.51 1.16 0.62 0.54 1.36 1.33 1.3  0.48 1.59 1.75 1.86 1.38 1.43
 1.62 2.01 0.76 1.15 1.57 0.55 1.66 0.52 1.97 1.47 1.88 1.31 1.55 1.67
 0.6  0.59 1.37 1.76 0.64 1.8  0.41 0.2  1.77 0.33 1.54 0.46 1.44 1.56
 0.56 1.52 0.58 2.03 0.65 0.63 1.96 0.53 0.47 2.21 1.69 1.64 1.49 1.72
 1.58 0.57 1.61 2.   1.63 1.94 0.5  0.29 0.49 0.4 ]
Unique values in FTI_measured: [0 1]
Unique values in TBG_measured: [ 10.   17.    0.    6.   44.   23.   63.   32.    7.5  61.   41.   76.
  45.   34.   81.   11.   16.   46.   22.   12.    5.   47.   29.   37.
  60.    8.4   8.5  24.   28.    7.   49.   36.   15.    9.   80.   53.
   7.2  68.    6.6  48.   21.   14.    2.   20.    1.4  56.    3.   51.
  13.   43.   78.   52.   64.   26.   35.   31.  133.    3.4  54.    8.9
  57.    5.5  58.   55.    2.8  66.    4.   40.   50.    8.7  87.   89.
 112.  123.   99.   92.  104.   69.  196.  107.  106.   74.   97.    nan
 122.   84.  114.  124.  241.  119.  120.  136.   85.  127.  137.  197.
  96.   77.  108.   82.   72.   94.   91.  240.  121.  109.   79.  100.
  98.   73.  117.  165.  103.   88.  101.  126.  132.  128.  143.  152.
 141.  186.  113.  102.  125.   93.  105.  159.  188.   71.  149.  116.
  83.  176.   86.  140.  111.  158.  115.  171.   90.   95.   70.  135.
 134.  178.  170.  205.  110.  155.  118.  131.  129.  142.  153.   75.
 254.  246.  139.  185.  157.  147.  164.  130.  222.  174.  182.  144.
 169.  257.  145.  345.  180.  167.  151.  154.  150.  219.  228.   65.
 187.  166.  195.  208.  138.   33.  173.  146.  211.  181.  190.  221.
 395.  216.  212.  148.  220.  370.  160.   59.  189.  203.  162.  168.
 179.  184.  163.   67.  213.  354.  292.  172.  156.  334.  161.  177.
 214.  194.  215.  217.  271.  250.  244.  258.  316.  200.  256.  232.
 202.   39.  248.  237.  259.   19.   42.  235.  283.  305.  204.  229.
 266.  198.  175.  209.  299.  450.  193.  227.  223.  337.  210.  218.
 239.  355.  485. ]
Unique values in TBG: [1 0]
Unique values in sick_query: [  nan  28.   34.    0.   19.   30.   25.   48.   39.   31.   16.   21.
  37.   40.   27.    3.1  38.  108.   20.   36.   17.   23.   35.   63.
   9.3  15.   26.   33.   41.  110.   22.   43.   53.   80.   47.   29.
  32.   13.   24.   18.   45.   86.   50.    8.4  52.   11.   12.   14.
  65.    7.3   8.5  69.  122. ]

In [17]:
df.head()

,response,age,sex,on_thyroxine,query_on_thyroxine,antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3,TT4,TT4_measured,T4U,T4U_measured,FTI,FTI_measured,TBG_measured,TBG,sick_query
0,hypothyroid,72.0,1,0,0,0,0,0,0,0,...,0,0.6,0,15.0,0,1.48,0,10.0,1,NaN
1,hypothyroid,15.0,0,1,0,0,0,0,0,0,...,0,1.7,0,19.0,0,1.13,0,17.0,1,NaN
2,hypothyroid,24.0,1,0,0,0,0,0,0,0,...,0,0.2,0,4.0,0,1.00,0,0.0,1,NaN
3,hypothyroid,24.0,0,0,0,0,0,0,0,0,...,0,0.4,0,6.0,0,1.04,0,6.0,1,NaN
4,hypothyroid,77.0,1,0,0,0,0,0,0,0,...,0,1.2,0,57.0,0,1.28,0,44.0,1,NaN

In [18]:
def class_convert(response):
    if response=='hypothyroid':
        return 1
    else:
        return 0

In [19]:
df['response']=df['response'].apply(class_convert)
df

,response,age,sex,on_thyroxine,query_on_thyroxine,antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3,TT4,TT4_measured,T4U,T4U_measured,FTI,FTI_measured,TBG_measured,TBG,sick_query
0,1,72.0,1,0,0,0,0,0,0,0,...,0,0.6,0,15.0,0,1.48,0,10.0,1,NaN
1,1,15.0,0,1,0,0,0,0,0,0,...,0,1.7,0,19.0,0,1.13,0,17.0,1,NaN
2,1,24.0,1,0,0,0,0,0,0,0,...,0,0.2,0,4.0,0,1.00,0,0.0,1,NaN
3,1,24.0,0,0,0,0,0,0,0,0,...,0,0.4,0,6.0,0,1.04,0,6.0,1,NaN
4,1,77.0,1,0,0,0,0,0,0,0,...,0,1.2,0,57.0,0,1.28,0,44.0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3158,0,58.0,0,0,0,0,0,0,0,0,...,0,1.7,0,86.0,0,0.91,0,95.0,1,NaN
3159,0,29.0,0,0,0,0,0,0,0,0,...,0,1.8,0,99.0,0,1.01,0,98.0,1,NaN
3160,0,77.0,1,0,0,0,0,0,0,0,...,0,0.6,0,71.0,0,0.68,0,104.0,1,NaN
3161,0,74.0,0,0,0,0,0,0,0,0,...,0,0.1,0,65.0,0,0.48,0,137.0,1,NaN
3162,0,56.0,0,1,0,0,0,0,0,0,...,0,1.8,0,139.0,0,0.97,0,143.0,1,NaN

In [20]:
df.shape

(3090, 26)

# Check the missing values

In [21]:
df.isnull().sum()

response                     0
age                        390
sex                          0
on_thyroxine                 0
query_on_thyroxine           0
antithyroid_medication       0
thyroid_surgery              0
query_hypothyroid            0
query_hyperthyroid           0
pregnant                     0
tumer                        0
goiter                       0
hypopituitary                0
hypothyroid                  0
I131_treatment               0
T3_measured                456
T3                           0
TT4                        683
TT4_measured                 0
T4U                        244
T4U_measured                 0
FTI                        243
FTI_measured                 0
TBG_measured               242
TBG                          0
sick_query                2835
dtype: int64

In [22]:
df1=df.drop(columns='sick_query') #drop the coulmns

In [23]:
df1.fillna(df1.mean(), inplace=True)

In [24]:
df1.isnull().sum()

response                  0
age                       0
sex                       0
on_thyroxine              0
query_on_thyroxine        0
antithyroid_medication    0
thyroid_surgery           0
query_hypothyroid         0
query_hyperthyroid        0
pregnant                  0
tumer                     0
goiter                    0
hypopituitary             0
hypothyroid               0
I131_treatment            0
T3_measured               0
T3                        0
TT4                       0
TT4_measured              0
T4U                       0
T4U_measured              0
FTI                       0
FTI_measured              0
TBG_measured              0
TBG                       0
dtype: int64

In [25]:
df1.shape

(3090, 25)

In [26]:
X = df1.drop(columns=['response'])  # Replace 'target_column' with your actual target variable
y = df1['response']  # Extract target values

# split the data

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [28]:
print("Training set shape",X_train.shape)
print("Test set shape",X_test.shape)

Training set shape (2472, 24)
Test set shape (618, 24)

# Train the model

In [29]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,y_train)
# predict the model
pred=model.predict(X_test)


from sklearn.metrics import accuracy_score,precision_score,f1_score
print('accuracu_score:',accuracy_score(y_test,pred))
print('precision_score:',precision_score(y_test,pred))
print('f1_score:',f1_score(y_test,pred))

accuracu_score: 0.9854368932038835
precision_score: 0.96
f1_score: 0.8421052631578947

C:\Users\PMLS\anaconda3\envs\ML_envs\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [30]:
model1=DecisionTreeClassifier()
model1.fit(X_train,y_train)
pred1=model1.predict(X_test)

from sklearn.metrics import accuracy_score,precision_score,f1_score
print('accuracu_score:',accuracy_score(y_test,pred1))
print('precision_score:',precision_score(y_test,pred1))
print('f1_score:',f1_score(y_test,pred1))

accuracu_score: 0.9919093851132686
precision_score: 0.9655172413793104
f1_score: 0.9180327868852459

In [31]:
model2=RandomForestClassifier()
model2.fit(X_train,y_train)

pred2=model2.predict(X_test)

from sklearn.metrics import accuracy_score,precision_score,f1_score
print('accuracu_score:',accuracy_score(y_test,pred2))
print('precision_score:',precision_score(y_test,pred2))
print('f1_score:',f1_score(y_test,pred2))

accuracu_score: 0.9919093851132686
precision_score: 0.9655172413793104
f1_score: 0.9180327868852459